<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%= render 'form', prototype: @prototype %> <%# %の後ろに=を書くのを忘れてたこれがないと実行しても結果が出ない%>
    </div>
  </div>
</div>